<!DOCTYPE html>
<html>
<head>
	<title>Credit Card Prediction</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<style type="text/css">
	.btn{
		background: #4f1a1a;
		color: white;
		width: 100%;
		margin-top: 15px;
	}
	.fform{
		background-color: rgb(270,270,270,.4);
		padding: 40px 40px;
		padding-bottom: 25px;
		margin-top: 70px;
		border-radius: 0px 0px 10px 10px;
		text-align: center;
		color: white;

	}
	.heading{
		background-color:#4f1a1a;
		padding: 10px;
		color: white;
		text-align: center;
		border-radius: 10px 10px 0px 0px;
	}
	.back {
		top: 50%;
		left: 50%;
		position: absolute;
		margin: 0;
		-ms-transform: translate(-50%, -50%);
  		transform: translate(-50%, -50%);
	}
	.top{
		box-shadow: 0px 0px 5px white;
		padding: 0px;
		border-radius: 10px; 
	}
	.form-group{
		margin-bottom: 20px;
	}
		
</style>
</head>
<body style="background-image:linear-gradient(rgb(0,0,0,.7),rgb(0,0,0,.7)), url('https://images.unsplash.com/photo-1612351978641-ecdafe9caaa5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1469&q=80'); background-repeat: no-repeat; background-size: 100% 100%; background-attachment: fixed;">
	<div class="col-lg-12 back">
		<div class="container">
			<div class="col-lg-5 col-lg-offset-4 top">
				<div class="col-lg-12 heading">
					<h3><b>Credit Card Assignment Prediction</b></h3>
				</div>
				<form class="form fform" action="/prediction" method="post">

					<div class="form-group">
						<input type="number" name="monthly balance" placeholder="Enter Monthly Balance" class="form-control" step=0.0001>
					</div>

                    <div class="form-group">
						<input type="number" name="total income" placeholder="Enter Total Yearly Income" class="form-control" step=0.0001>
					</div>

                    <div class="form-group" style="text-align: left;">
						<div class="col-lg-12"><b>Gender: </b> &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="gender" value=1> Male &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="gender" value=0> Female &nbsp;</div>
					</div>

					<div class="form-group" style="text-align: left;">
						<div class="col-lg-12"><b><br>Housing Type: </b> &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="housing type" value=0> Co-Op Apartment &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="housing type" value=1> House / Apartment &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="housing type" value=2> Municipal Apartment &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="housing type" value=3> Office Apartment &nbsp; <br></div>
						<div class="col-lg-6"><input type="radio" name="housing type" value=4> Rented Apartment &nbsp;</div>
						<div class="col-lg-6"><input type="radio" name="housing type" value=5> With Parents &nbsp;</div>
					</div>

                    <div class="form-group" style="text-align: left;">
                        <div class="col-lg-12"><b><br>Family Status: </b> &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="family status" value=0> Civil Marriage &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="family status" value=1> Married &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="family status" value=2> Separated &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="family status" value=3> Single / Unmarried &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="family status" value=4> Widow &nbsp;</div>
                    </div>

					<div class="form-group" style="text-align: left;">
                        
						<input type="number" name="family members" placeholder="Enter Family Members" class="form-control" step=0.0001>
                    </div>

					<div class="form-group" style="text-align: left;">
                        <div class="col-lg-12"><b><br>Own Car: </b> &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="own car" value=0> Yes &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="own car" value=1> No &nbsp;</div>
                    </div>



                    <div class="form-group" style="text-align: left;">
                        <div class="col-lg-12"><b><br>Income Type: </b> &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="income type" value=0> Commercial Associate &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="income type" value=1> Pensioner &nbsp; <br></div>
                        <div class="col-lg-6"><input type="radio" name="income type" value=2> State Servant &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="income type" value=3> Student &nbsp;</div>
                        <div class="col-lg-6"><input type="radio" name="income type" value=4> Working &nbsp;</div>
                    </div>
					
					<div class="form-group">
						<input type="submit" name="submit" value="Predict" class="btn btn-md">
					</div>
                    
					<div class="form-group">
						<b>Prediction: </b> {{ output }}
					</div>

				</form>
			</div>
		</div>
	</div>
</body>
</html>
